<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653536181122-jqc4vj7f6a5l38jjtg6a2clrvjgilqmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653536181122-jqc4vj7f6a5l38jjtg6a2clrvjgilqmp</string>
	<key>API_KEY</key>
	<string>AIzaSyDkDPScW8QD1NXA34WgFwJvnZ9pt5P8jfs</string>
	<key>GCM_SENDER_ID</key>
	<string>653536181122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quria</string>
	<key>PROJECT_ID</key>
	<string>quriacompanion-13944</string>
	<key>STORAGE_BUCKET</key>
	<string>quriacompanion-13944.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653536181122:ios:a3ab350a7d70087b8eed9b</string>
</dict>
</plist>